<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1">
    <listeners>
        <listener class-name="com.bank.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="home-office-visa-check">
        <classes>
            <class name="com.bank.testsuite.BankTest"></class>
        </classes>
    </test>
</suite>